CDP/
CDP_Mask/
CDP_R_W8ted/
CdP_Slices/
CdP_filt/
CubeI.npy
CubeII.npy
DMO/
Dip0/
Dip05/
Dip1/
Dip2/
Dip3/
Fig/
Freq/
Hdip/
Headers/
MO_filt/
MigS/
Miss/
New_Head.dat
New_Head.rsf
Nmo/
Offsets/
PVel/
Pnmo/
RSF/
Sembl/
Shot_mask/
Shots/
Statics/
TIB01.sgy
TIB01_176-275.sgy
TIB01_176-275.sgymod
TIB01_276-375.sgy
TIB01_276-375.sgymod
TIB01_376-475.sgy
TIB01_376-475.sgymod
TIB01_476-581.sgy
TIB01_476-581.sgymod
TIB01_56-175.sgy
Utils/
Vdip/
Vel/
Vint/
Vpick/
Vseis/
Vtk/
Vtr/
Xdip/
dat2/
lowf/
mask/
mask_cdp_440.rsf
ndip/
ndip2/
noiz/
noiz2/
noiz3/
pq/
sdip/
sdip2/
sign/
sign2/
sign3/
signoi/
tilted/

